# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Release keystore - DO NOT COMMIT
*.keystore
!debug.keystore
keystore.properties
